/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    overflow:hidden;
    width:100%;
}
body {
  overflow-x: hidden;
  background-color: #f5f4a0;
  font-family: "Verdana",  sans-serif;
}
a {
  color: #389cae;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
a svg{
  transition:all .5s ease;
  &:hover{
    #transform:rotate(180deg);
  }
}
#ico{
  display: none;
}
.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
  #transition: all 0.5s ease;
  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
    &:hover{
      background: #555;
    }
  }
}


.flex-container {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	width: 100%;
}

.title {
	height: 125px;
 }

 .tagline {
	height: 80px;
	flex: 1;
	justify-content: center;
}

.image {
	justify-content: center;
}

.video {
	flex: 1;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 80px;
}

.para {
	padding: 0px 80px 40px;
}

h3 {
	flex: 1;
	text-align: center;
}

.pic-text {
	justify-content: space-around;
	padding: 30px 30px 40px;
}

.text-center {
	text-align: center;
}

.img-flex {
	flex: 2;
	width: 400px;
	height: 300px;
}

.text-flex {
	flex: 3;
	text-align: center;
}

	#nav-icon {
		width: 60px;
		height: 45px;
		position: absolute;
		margin: 40px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
	}

	#nav-icon span {
		display: block;
		position: absolute;
		height: 9px;
		width: 50%;
		background: #d3531a;
		opacity: 1;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}

	#nav-icon span:nth-child(even) {
		left: 50%;
		border-radius: 0 9px 9px 0;
	}

	#nav-icon span:nth-child(odd) {
		left:0px;
		border-radius: 9px 0 0 9px;
	}

	#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
		top: 0px;
	}

	#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
		top: 18px;
	}

	#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
		top: 36px;
	}

	#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#nav-icon.open span:nth-child(1) {
		left: 5px;
		top: 7px;
	}

	#nav-icon.open span:nth-child(2) {
		left: calc(50% - 5px);
		top: 7px;
	}

	#nav-icon.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
	}

	#nav-icon.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
	}

	#nav-icon.open span:nth-child(5) {
	left: 5px;
	top: 29px;
	}

	#nav-icon.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 29px;
	}
